<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>数据仪表盘</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="static/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="static/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="static/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="static/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex justify-content-center">
                <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                    <a class="navbar-brand brand-logo" href="{{ url_for('index.index') }}"><img
                            src="static/images/logo.jpg" alt="logo" /></a>
                    <a class="navbar-brand brand-logo-mini" href="{{ url_for('index.index') }}"><img
                            src="./static/images/logo.jpg" alt="logo" /></a>
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button"
                        data-toggle="minimize">
                        <span class="mdi mdi-sort-variant"></span>
                    </button>
                </div>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center ">
                <ul class="navbar-nav mr-lg-4 w-100">
                    <span
                        style="display: block; margin: 0 auto; text-align: center; color: black; font-size: 20px; letter-spacing: 4px;">基于多源数据的钢铁生产减排优化研究</span>
                </ul>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:static/partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index.index') }}">
                            <i class="mdi mdi-home menu-icon"></i>
                            <span class="menu-title">首页</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false"
                            aria-controls="ui-basic">
                            <i class="mdi mdi-view-headline menu-icon"></i>
                            <span class="menu-title">流程分析</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link"
                                        href="{{ url_for('charts.charts', progress_name='原料和能源的运输') }}">原料和能源的运输</a>
                                </li>
                            </ul>
                        </div>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link"
                                        href="{{ url_for('charts.charts', progress_name='烧结') }}">烧结</a></li>
                            </ul>
                        </div>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link"
                                        href="{{ url_for('charts.charts', progress_name='焦化') }}">焦化</a></li>
                            </ul>
                        </div>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link"
                                        href="{{ url_for('charts.charts', progress_name='炼铁') }}">炼铁</a></li>
                            </ul>
                        </div>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link"
                                        href="{{ url_for('charts.charts', progress_name='炼钢') }}">炼钢</a></li>
                            </ul>
                        </div>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link"
                                        href="{{ url_for('charts.charts', progress_name='精炼') }}">精炼</a></li>
                            </ul>
                        </div>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link"
                                        href="{{ url_for('charts.charts', progress_name='连铸') }}">连铸</a></li>
                            </ul>
                        </div>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link"
                                        href="{{ url_for('charts.charts', progress_name='热轧') }}">热轧</a></li>
                            </ul>
                        </div>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link"
                                        href="{{ url_for('charts.charts', progress_name='冷轧') }}">冷轧</a></li>
                            </ul>
                        </div>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link"
                                        href="{{ url_for('charts.charts', progress_name='智能化类') }}">智能化类</a></li>
                            </ul>
                        </div>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link"
                                        href="{{ url_for('charts.charts', progress_name='其他类') }}">其他类</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index.dashboard') }}">
                            <i class="mdi mdi-chart-pie menu-icon"></i>
                            <span class="menu-title">数据仪表盘</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('charts.tech_charts') }}">
                            <i class="mdi mdi-grid-large menu-icon"></i>
                            <span class="menu-title">技术展示</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body" id="bar">
                                    <script type="text/javascript">
                                        var bar = echarts.init(document.getElementById('bar'));
                                        bar.setOption({{ mybar | safe }});
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <style>
                                        .table-container {
                                            max-height: 55vh;
                                            overflow-y: scroll;
                                        }
                                    </style>
                                    <div class="table-container">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th><span style="font-size: 14px;">技术名称</span></th>
                                                    <th><span style="font-size: 14px;">原料和能源的运输</span></th>
                                                    <th><span style="font-size: 14px;">烧结</span></th>
                                                    <th><span style="font-size: 14px;">焦化</span></th>
                                                    <th><span style="font-size: 14px;">炼铁</span></th>
                                                    <th><span style="font-size: 14px;">炼钢</span></th>
                                                    <th><span style="font-size: 14px;">精炼</span></th>
                                                    <th><span style="font-size: 14px;">连铸</span></th>
                                                    <th><span style="font-size: 14px;">热轧</span></th>
                                                    <th><span style="font-size: 14px;">冷轧</span></th>
                                                    <th><span style="font-size: 14px;">智能化类</span></th>
                                                    <th><span style="font-size: 14px;">其他类</span></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in final_table%}
                                                <tr class="table-info">
                                                    <td>{{ item[0] }}</td>
                                                    <td>{{ item[1] }}</td>
                                                    <td>{{ item[2] }}</td>
                                                    <td>{{ item[3] }}</td>
                                                    <td>{{ item[4] }}</td>
                                                    <td>{{ item[5] }}</td>
                                                    <td>{{ item[6] }}</td>
                                                    <td>{{ item[7] }}</td>
                                                    <td>{{ item[8] }}</td>
                                                    <td>{{ item[9] }}</td>
                                                    <td>{{ item[10] }}</td>
                                                    <td>{{ item[11] }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:../../partials/_footer.html -->
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!--  表格监视器 弹窗  -->
        <style>
            .popup {
                position: fixed;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background-color: #fff;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                cursor: move;
                width: 30vw;
                /* 设置弹窗宽度为视口宽度的30% */
                height: 20vh;
                /* 设置弹窗高度为视口高度的20% */
            }
        </style>
        <script>
            window.onload = function () {
                // 获取表格的所有行
                var rows = document.querySelectorAll('.table-info');
                // 为每一行添加点击事件监听器
                rows.forEach(function (row) {
                    var cell = row.querySelector('td:first-child');
                    // 鼠标停留在一条数据时的第一个单元格，该条数据会变成黄色，而且鼠标光标会变为手指
                    cell.addEventListener('mouseover', function () {
                        this.style.backgroundColor = 'yellow';
                        this.style.cursor = 'pointer';
                    });
                    // 鼠标离开时，恢复原样
                    cell.addEventListener('mouseout', function () {
                        this.style.backgroundColor = '';
                        this.style.cursor = '';
                    });
                    // 获取改行的第一个单元格
                    cell.addEventListener('click', function () {
                        var info = '';
                        info += '<h2>' + cell.innerText + '</h2>'; // 第一行数据字号调大
                        var tech_details = JSON.parse('{{ tech_details|tojson }}');
                        console.log(typeof (tech_details)) // object 其元素为Array(2)
                        for (var i = 0; i < tech_details.length; i++) {
                            console.log(tech_details[i][0]) // 打印每个子数组的第一个元素
                            if (tech_details[i][0] == cell.innerText) { // 比较cell的文本和子数组的第一个元素
                                info += '<p>' + tech_details[i][1] + '</p>'; // 如果相等，添加子数组的第二个元素到info中
                            }
                        }
                        // 显示弹窗
                        var popup = document.createElement('div');
                        popup.className = 'popup';
                        popup.innerHTML = info;
                        popup.style.position = 'fixed';
                        popup.style.left = '50%';
                        popup.style.top = '50%';
                        popup.style.transform = 'translate(-50%, -50%)';
                        popup.style.backgroundColor = '#fff';
                        popup.style.padding = '20px';
                        popup.style.borderRadius = '10px';
                        popup.style.boxShadow = '0px 0px 10px rgba(0, 0, 0, 0.1)';

                        // 创建关闭按钮
                        var closeButton = document.createElement('button');
                        closeButton.innerText = 'x';
                        closeButton.style.position = 'absolute';
                        closeButton.style.right = '-10px'; // 将关闭按钮移动到弹窗之外
                        closeButton.style.top = '-10px'; // 将关闭按钮移动到弹窗之外
                        closeButton.style.borderRadius = '50%';
                        closeButton.style.width = '20px';
                        closeButton.style.height = '20px';
                        closeButton.style.textAlign = 'center';
                        closeButton.style.backgroundColor = 'transparent'; // 设置背景色为透明
                        closeButton.style.border = 'none'; // 移除边框
                        closeButton.style.fontSize = '20px'; // 设置文字大小

                        // 添加关闭按钮的点击事件监听器
                        closeButton.addEventListener('click', function () {
                            document.body.removeChild(popup);
                        });

                        // 将关闭按钮添加到弹窗中
                        popup.appendChild(closeButton);

                        // 添加拖动功能
                        var isDragging = false;
                        var offsetX = 0;
                        var offsetY = 0;

                        popup.addEventListener('mousedown', function (e) {
                            isDragging = true;
                            offsetX = e.clientX - popup.offsetLeft;
                            offsetY = e.clientY - popup.offsetTop;
                        });

                        document.addEventListener('mousemove', function (e) {
                            if (isDragging) {
                                popup.style.left = (e.clientX - offsetX) + 'px';
                                popup.style.top = (e.clientY - offsetY) + 'px';
                            }
                        });

                        document.addEventListener('mouseup', function () {
                            isDragging = false;
                        });

                        document.body.appendChild(popup);
                    });
                });
            };
        </script>
        <!-- container-scroller -->
        <!-- plugins:js -->
        <script src="static/vendors/base/vendor.bundle.base.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page-->
        <script src="static/vendors/chart.js/Chart.min.js"></script>
        <!-- End plugin js for this page-->
        <!-- inject:js -->
        <script src="static/js/off-canvas.js"></script>
        <script src="static/js/hoverable-collapse.js"></script>
        <script src="static/js/template.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <script src="static/js/chart.js"></script>
        <!-- End custom js for this page-->
</body>

</html>